{% extends 'blog/base.html' %}

{% block content  %}
    <div class="row">
        <div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
            <h1 class="fw-bolder">Business Insights</h1>
            {% comment %} <h5 class="text-muted" >Take a look at the featured posts</h5> {% endcomment %}
        </div>
    </div>
    {% for object in object_list %}
        <div class="row">
            <div class="col-md-6 col-11 mx-md-auto mx-3 mt-5 mb-5">
                <h3 class="fw-bold">{{ object.title }}</h3>
                <p class="text-muted" >{{ object.date }}</p>
                <p class="text-muted">Posted by {{ object.author.username }}</p>
                {% if object.likes.count == 1 %}
                    <p class="text-muted">{{ object.likes.count }}  people likes this post. </p>
                {% else %}
                    <p class="text-muted">{{ object.likes.count }}  people likes this post. </p>
                {% endif %}

                <div class="my-3">
                    {{ object.content|truncatewords_html:50|safe }}
                </div>

                <a href="{% url 'detail_article' object.id %}">Read more</a>
            </div>
        </div>
    {% endfor %}

    <nav>
        <ul class="pagination">
            <div class="mx-auto d-flex flex-row mt-5">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>   
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; 1</a>
                    </li>
                {% endif %}

                <li class="page-item">
                    <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &laquo;</a>
                        {% else %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        {% endif %}    
                    </li>
                    {% comment %} <li class="page-item">
                        <a class="page-link btn btn-dark" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &laquo;</a>
                    </li> {% endcomment %}
                {% endif %}
            </div>
        </ul>
    </nav>

    <footer class="py-5 text-center text-body-secondary bg-body-tertiary" id="footer">
        <br><br>
        <a href="https://www.linkedin.com/in/yogendra-chaurasiya.com/">
            <img src="https://cdn-icons-png.flaticon.com/128/2504/2504923.png" alt="LinkedIn" style="height: 30px; width: 30px; position: relative; right: 35px;">
        </a>
        <a href="https://instagram.com/tushar__chaurasiya?igshid=ZDdkNTZiNTM=.com/">
            <img src="https://cdn-icons-png.flaticon.com/128/174/174855.png" alt="Instagram"  style="height: 30px; width: 30px; position: relative; left: 1px;">
        </a>
        <a href="https://t.me./+919999058333.com">
            <img src="https://cdn-icons-png.flaticon.com/128/3536/3536661.png" alt="Telegram" style="height: 30px; width: 30px; position: relative; left: 45px;">
        </a>
        <br>
        <p>© 2023 Memoir - The Blog </p>
        <p>All Rights Reserved</p>
        <p class="mb-0">
            <a href="#">Back to top</a>
        </p>
    </footer>
{% endblock content %}
